{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead",
        "modules": false
      }
    ],
    "minify"
  ],
  "plugins": [
    "@babel/plugin-transform-regenerator"
  ],
  "sourceType": "script"
}
