.context-menu-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.context-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #293038;
  color: color: rgba(255,255,255,0.89);
  border-radius: 3px;
}

.context-menu .context-menu-item {
  padding: 8px 16px 8px 30px;
  position: relative;
  cursor: pointer;
  transition: .2s;
  display: flex;
}
.context-menu .context-menu-item:hover {
  background: rgba(128,128,128,0.12);
}

.context-menu .context-menu-item i.context-menu-icon {
  position: absolute;
  left: 6px;
  top: 10px;
  font-size: 18px;
  color: rgba(255,255,255,0.4);
}

.context-menu .context-menu-divider {
  margin: 4px 0;
  border-bottom: 1px solid #565656;
}

.context-menu .context-menu-item-text {
  flex-grow: 1;
}
.context-menu .context-menu-item-note {
  margin-left: 24px;
  opacity: .6;
  font-style: italic;
}

.context-menu i.context-menu-submenu-icon {
  font-size: 18px;
  color: inherit;
  margin-right: -5px;
}
