.group-item {
  margin: 32px 0;
  border-radius: 3px;
  padding: 24px;
  position: relative;
  overflow: hidden;
}

.group-item .map-part {
  width: 300px;
  min-height: 300px;
  margin: -24px 24px -24px -24px;
  flex-shrink: 0;
  z-index: 9;
}

.group-item .group-location {
  font-size: 1.8rem;
  font-weight: 300;
}

.group-item .group-date {
  font-size: 1.4rem;
}

.group-body > *:not(:last-child) {
  margin-bottom: 16px;
}

.group-item .btn-floating{
  position: absolute;
  bottom: 24px;
  right: 24px;
}

/* some not-so-nice css trickery */
html body .group-item .edit-button {
  position: absolute;
  background: transparent !important;
  right: 0;
  top: 0;
  border-bottom: 80px solid transparent !important;
  border-right: 80px solid;
  z-index: 10;
  cursor: pointer;
}

.group-item  .edit-button i.material-icons {
  position: absolute;
  top: 11px;
  right: -70px;
  color: #fff;
}

.group-item .group-participants .is-me::before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  vertical-align: text-top;
  display: inline-block;
  line-height: 1;
  content: 'account_box';
  margin-right: 4px;
  display: inline-block;
}

@media(max-width: 992px) {
  .group-item {
    flex-direction: column !important;
  }

  .group-item .map-part {
    width: calc(100% + 48px) !important;
    min-height: 200px !important;
    margin: -24px -24px 24px -24px;
  }
}
