.app-layout > nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

body nav a {
  color: #fff !important;
}

nav .brand-logo i.material-icons {
  font-size: inherit;
    margin-right: 8px;
}

@media (min-width: 993px) {

  nav .brand-logo {
    margin: 0 16px;
  }
}
