.app-layout > nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

nav .brand-logo i.material-icons {
  font-size: inherit;
    margin-right: 8px;
}

@media (min-width: 993px) {

  nav .brand-logo {
    margin: 0 16px;
  }
}

nav .switch > label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 12px;
}
nav .switch > label i.material-icons {
  margin: 0 -8px;
}
