nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

body nav li a {
  color: #fff !important;
}

@media (min-width: 993px) {
  nav .brand-logo {
    margin: 0 16px;
  }
}

.brand-logo {
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  white-space: nowrap;
}
