.note-view {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: auto;
}

.note-view.--loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*********
VIEW MODE
*********/

.markdown pre {
  white-space: pre;
  word-wrap:  break-word;
  overflow: auto;
}

.markdown :not(pre) > code {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.markdown pre {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.markdown h1 {
  border-bottom: 1px solid rgba(128,128,128,0.7);
}

.markdown ul,
.markdown ol {
  display: block;
  padding: 0 0 0 2rem;
  list-style-position: inside;
}
.markdown li {
  display: list-item;
}

.markdown ul,
.markdown ul li {
  list-style-type: disc;
}
.markdown ul ul,
.markdown ul ul li {
  list-style-type: circle;
}

.markdown ol,
.markdown ol li {
  list-style-type: decimal;
}
.markdown ol ol,
.markdown ol ol li {
  list-style-type: lower-latin;
}

/*********
VIEW MODE
*********/

.note-view.--mode-edit {
    padding: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
}

.note-view.--mode-edit:focus {
    background: rgba(128,128,128,0.07);
    outline: none;
}
