.app-sidebar {
  width: 360px;
  border-right: 1px solid #000;
  position: relative;
  overflow: auto;
  flex-shrink: 0;
}

.app-sidebar > .ring-loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

.app-sidebar .sidebar-item, .app-sidebar .sidebar-heading {
  position: relative;
  padding: 8px 8px 8px 34px;
  transition: .2s;
  display: block;
}

.app-sidebar .sidebar-item:hover, .app-sidebar .sidebar-item.--active {
  background: rgba(128,128,128, 0.12);
}

.app-sidebar .sidebar-heading {
  font-weight: 500;
  opacity: .8;
  margin-top: 8px;
  margin-bottom: -8px;
  font-size: 15px;
}

.app-sidebar .sidebar-item i.material-icons {
  position: absolute;
  font-size: 18px;
  left: 8px;
  top: 9px;
}

.sidebar-subfolders {
    padding-left: 26px;
}

.app-sidebar .btn-floating {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
