body.primary-indigo .primary-fg, body.primary-indigo .primary-fg-flat {
  background-color: #3f51b5 !important;
  border-color: #3f51b5 !important;
  transition: .3s;
}

/*// enable theming //*/
body.theme-dark {
  background: #1f262d;
  color: rgba(255,255,255,0.89);
  transition: .3s;
}
body.theme-dark .modal {
  background: #293038;
  color: rgba(255,255,255,0.89);
}
body.theme-dark .dropdown-content, body.theme-dark .dropdown-content a {
  background: #293038;
  color: rgba(255,255,255,0.89);
}

body.theme-dark label, body.theme-dark .input-field > label {
color: rgba(255,255,255,0.79);
}

body.primary-red-orange .primary-fg {
  background-color: linear-gradient(45deg, #f44336, #ffc107) !important;
  border-color: linear-gradient(45deg, #f44336, #ffc107) !important;
}

body.primary-red-orange .primary-fg-flat {
  background-color: #f44336 !important;
  border-color: #f44336 !important;
}

body.theme-light {
  background: #fff;
  transition: .3s;
}

body.theme-light .modal {
  background: #fff;
}
